<IfModule mod_rewrite.c>
  RewriteEngine on
    RewriteRule ^(/)?$ /movie-site/public/index.php/$1 [L]
    RewriteCond ${REQUEST_FILENAME} !-f
    RewriteCond ${REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /movie-site/public/index.php/$1 [L]
</IfModule>